sudo: false
language: go
go:
  - 1.6.x
  - 1.7.x
  - 1.8.x
  - 1.9.x
  - 1.10.x
  - 1.11.x
  - 1.12.x
  - master

install:
  - go get -t -v ./...

script:
  - go get golang.org/x/tools/cmd/cover
  - go test -v -cover -race